body {
  margin: 0;
  width: 100vw;
  min-width: 375px;
  height: 100svh;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 1rem;
  overflow: hidden;
}

.heading {
  color: black;
  margin-bottom: 1rem;
  span {
    font: small-caps bold 3rem sans-serif;
  }

  #todays-date {
    height: 1.2rem;
    /* background-color: aqua; */
    font: 0.85rem sans-serif;
  }
}

.major-cities-scroll {
  margin-bottom: 1.5rem;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

.major-cities-scroll a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
}

.major-cities-scroll a:hover {
  background-color: lightskyblue;
}

.weather-and-map {
  display: flex;
  flex-direction: column;

  .forecast-today {
    flex: 1 0 auto;
    display: grid;
    height: 7rem;
    padding: 1.5rem;
    padding-right: 0.8rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas:
      "location-name weather-icon"
      "temp-ranges weather-icon"
      "weather-descr weather-icon";
    background-color: lightskyblue;

    #location-name {
      grid-area: location-name;
      font: small-caps 2rem sans-serif;
    }

    #temp-ranges {
      grid-area: temp-ranges;
      font-size: 2rem;
    }

    #weather-descr {
      grid-area: weather-descr;
      font-size: 1rem;
    }

    #weather-icon {
      height: 6rem;
      grid-area: weather-icon;
    }
  }

  #seven-day-forecast {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .forecast-item {
      display: grid;
      height: 4rem;
      grid-template-columns: 2fr 1fr 2.5fr;
      grid-template-rows: 1.5fr 1fr;
      grid-template-areas:
        "forecast-day forecast-icon forecast-temp-ranges"
        "forecast-day forecast-icon forecast-descr";

      .forecast-day {
        grid-area: forecast-day;
        align-self: center;
        justify-self: end;
        padding: 1rem;
        font-size: 1.2rem;
      }
      .forecast-icon {
        height: 3rem;
        grid-area: forecast-icon;
      }
      .forecast-temp-ranges {
        grid-area: forecast-temp-ranges;
        align-self: end;
        font-size: 1.5rem;
      }
      .forecast-descr {
        grid-area: forecast-descr;
        font-size: 1rem;
      }
    }
  }

  #map-button-float {
    position: fixed;
    width: 4rem;
    height: 2rem;
    top: 1rem;
    right: 1rem;
    background-color: rgb(76, 166, 222);
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    box-shadow: 2px 2px 3px #999;
  }

  #map-container {
    display: none;
    /* height: 100%; */
    width: 92%;
    position: fixed;
    background-color: greenyellow;

    #map {
      height: 375px;
    }
  }
}

@media screen and (min-width: 650px) {
  .weather-and-map {
    flex-direction: row;
    align-items: center;
  }
}
