@tailwind base;
@tailwind components;
@tailwind utilities;

#map-container {
  display: none;
  width: 92%;
  position: fixed;
  background-color: greenyellow;

  #map {
    height: 375px;
  }
}

@media screen and (min-width: 650px) {
  .weather-and-map {
    flex-direction: row;
    align-items: center;
  }
}
